.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.slideSide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 1px solid #ccc;
}
